label.custom-select {
    position: relative;
    display: inline-block;

}

.custom-select select {
    background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 200px;
   margin-top:20px;
   margin-left:120px;
}

/* Select arrow styling */
.custom-select:after {
    /*content: "▼";*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: #000;
    color: white;
    pointer-events: none;
}

.no-pointer-events .custom-select:after {
    content: none;
}